
* {
  font-family: monospace;
}
body {
  background: linear-gradient(to bottom, black 85%, grey) no-repeat;
  background-size: 100% 100%;
}

.header-container {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-family: monospace;
  padding: 10px;
  width: 60%;
  /* Set the width to 60% */
  margin: 0 auto;
  /* Center horizontally */
  height: 100px;
}

.header-background {
  background: black;
  width: 100%;
}

.header-container h1 {
  margin: 0;
  margin-right: 10px;
}

.nav.nav-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  border: none;
}

.nav.nav-tabs .nav-item {
  margin-right: 50px;
}

.nav.nav-tabs .nav-item a {
  color: white;
  font-size: 18px;
  background: transparent;
  text-decoration: none;
  padding: 10px;
  border: none;
}

.nav.nav-tabs .nav-item .active {
  color: none;
  font-weight: bold;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: #000000;
  min-width: 160px;
  padding: 8px;
  z-index: 1;
}

.nav-item.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  display: block;
  padding: 4px 0;
  text-decoration: none;
  background: #000000;
  color: white;
}

.dropdown-content a:hover {
  background-color: #000000;
  color: white;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* Set the width to 60% */
  margin: 0 auto;
  /* Center horizontally */
  height: 100vh;
}

.name {
  font-size: 50px;
  
}

.rotate-text {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-right: 100%;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section {
  flex: 0 0 300px;
  /* adjust the width of the profile photo */
}

.profile-photo {
  width:700px;
  /* adjust the height of the profile photo */
  margin-right: 10px;
  margin-top: 30px;
  /* adjust the margin as needed */
  border-radius: 10px;
}

.about-photo{
  width: 110%;
  margin-left: -30px;
  margin-top: 20px;
}

.info-section {
  margin-top: -75px;
  position: relative;
  /* Add relative positioning to create a new positioning context */
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}

.learn-more-btn {
  /* Existing styles */
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  text-align: center;
  background-color: red;
  border-radius: 25px;
  font-size: 22px;
  height: 50px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: transform 0.3s;
  /* Add new styles */
  position: absolute;
  left: 0;
}

.learn-more-btn:hover {
  animation: bounce 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.project-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.portfolio-page {
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; /* Center items vertically */
  margin: 0 auto; /* Center horizontally */
}

.portfolio-title {
  margin-bottom: 45px; /* Add margin at the bottom */
  text-align: center;
  font-size: 36px;
  color: white;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Use full width */
  margin: 0 auto; /* Center horizontally */
}

.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.project-slide {
  position: relative;
}

.project-slide:hover .project-title {
  opacity: 1;
}

.contact-page {
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}

.contact-details {
  flex: 1;
  margin-left: 70px;
}

.contact-details p {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  color: #ccc;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.input-name input {
  width: 100%;
  height: 45px;
  background-color: #222;
  border: none;
  color: #ccc;
  padding: 28px;
  font-family: "Poppins";
  border-radius: 10px;
}

.input-email input {
  width: 100%;
  height: 45px;
  background-color: #222;
  border: none;
  color: #ccc;
  padding: 28px;
  font-family: "Poppins";
  border-radius: 10px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-group textarea {
  width: 100%;
  height: 125px;
  background-color: #222;
  border: none;
  color: #ccc;
  resize: none;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Poppins";
}

.form-group textarea {
  resize: vertical;
}

.form-submit {
  text-decoration: none;
  color: #222;
  display: inline-block;
  background-color: #ffee00;
  font-family: Pacifico;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 25px;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-details,
  .contact-form {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}